<h2 class="section-title">Comparing the two models</h2>
<p class="summary">
  The IPCC devised four diverging storylines for the way humans will handle climate change in the years to 
  come. We examine two very different storylines below. By hitting the "play" button, you can examine the 
  predicted median changes in temperature (in degree celsius) for each country over the four remaining 20-year intervals 
  of this century. 
</p>
<div class="button-div">
  <button *ngIf="!scenarioAtwo" mat-stroked-button color="warn" (click)="scenarioA2()">Scenario A2</button>
  <button *ngIf="scenarioAtwo" mat-flat-button color="warn">Scenario A2</button>
  <button *ngIf="!scenarioBone" mat-stroked-button color="warn" (click)="scenarioB1()">Scenario B1</button>
  <button *ngIf="scenarioBone" mat-flat-button color="warn">Scenario B1</button>
</div>

<div *ngIf="scenarioBone" class="scenario-div">
  <small class="scenario-description">
    <p><strong class="highlight-scenario">Scenario B1</strong>: Models temperature predictions from a <strong class="highlight">more integrated, ecologically friendly world </strong>based on:</p>
    <ul class="conditions">
      <li>-Rapid economic growth, but with rapid changes towards a service and information economy.</li>
      <li>-Population rising to 9 billion in 2050 and then declining.</li>
      <li>-Reductions in material intensity and the <strong class="highlight">introduction of clean</strong> and <strong class="highlight">resource efficient technologies</strong>.</li>
      <li>-An emphasis on <strong class="highlight">global solutions</strong> to <strong class="highlight">economic, social and environmental stability</strong>.</li>
    </ul>
  </small>
</div>

<div *ngIf="scenarioAtwo" class="scenario-div">
  <small class="scenario-description">
    <p><strong class="highlight-scenario">Scenario A2</strong>: Models temperature predictions from a <strong class="highlight">more divided world </strong> based on:</p>
    <ul class="conditions">
      <li>-A world of <strong class="highlight">independently operating, self-reliant nations</strong>.</li>
      <li>-Continuously increasing population.</li>
      <li>-Regionally oriented economic development.</li>
      <li><strong class="highlight">-High emissions</strong>.</li>
    </ul>
  </small>
</div>


<div id = 'title'>
  <p class="summary">Examine the projected change in temperature by 2100 based on <strong class="highlight">{{this.scenario}}</strong>:</p>
  <button *ngIf=!play (click)="playButton()" mat-mini-fab color="warn" id="play" aria-label="Example icon button with a menu icon">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button *ngIf=refresh (click)="refreshButton()" mat-mini-fab color="warn" id="refresh" aria-label="Example icon button with a menu icon">
    <mat-icon>refresh</mat-icon>
  </button>
 
  
</div>

<h2 class="title-tag">{{titleTag}}</h2>
<mat-slider min={{min}} max={{max}} step={{step}} value={{value}} tickInterval={{tickInterval}} disabled="false"  color="warn" (input)="pitch($event)"></mat-slider>
<img class="svg-tempscale" src='../assets/temp-scale-svg.svg'>
<div class = "world-map"></div>


<!-- <router-outlet></router-outlet> -->

